 /* CSS POUR COMPOSANT HOMEPAGE */
.homePage_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
}
 /* CSS POUR COMPOSANT DESCRIPTION */
.description{
    width: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
}
.container-head{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% auto 5%;
}

.last-container-head{
  display: flex;
  align-content: center;
}

.last-container-head img{
  object-position: 0px -1.9em ;
  margin-left: 1em;
  overflow: hidden;
}
.container-head{
  display: flex;
  justify-content: center;
  margin-bottom: -10%;
}

.container-head h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    margin: 1em 0 0 0;
}

.help-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.help-view img{
  width: 25%  
}

.paragraphs{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.paragraphs-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.paragraphs-content h2 {
font-size: 1.4em;
color: #BDC3C7;
}

.paragraphs-content p {
width: 90%;
}

.paragraphs-hr{
    width: 40%;
    margin: 2% auto 2%;
}

.description p{
    padding: 1em;
    text-align: center;
    display: flex;
}

.description_main p{
    width: 80%;
    font-size: 1.6em;
    text-align: center;
    margin: 8% auto 5%;
}

.description_main{
    display: flex;
    justify-content: center;
}

.img_description{
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #BDC3C7;
}

.icon{
width: 8%;
align-content: center;
}
.catchphrase{
    display: flex;
    justify-content: space-around;
    margin: 5% auto 8%;
}


/* CSS POUR COMPOSANT LASTNEWS */
.last_news{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    // border: 1px solid #BDC3C7;
    // box-shadow: 2px 2px 2px #BDC3C7;

    h2{
        font-size: 2em;
    }
}
.news_card_container{
    display: flex;
}

 .one_news_card_container {
    border: 1px solid #BDC3C7;
    flex-basis: 45%;
    margin: 4% auto;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #BDC3C7;
 } 
 .one_news_card_head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

 }  
 .one_news_card_hr{
    width: 80%;
    margin: 3% auto;
 }

.img_one_news{
    width: 2;  
    padding: 4%;
}
.last_news h2 {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
.one_news_card_body{
padding: 12px;
}


/* CSS POUR COMPOSANT OPINION */
.opinion{
   width: 100%;
   margin: 5% auto;
}
.opinion h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 15px;
}
.opinion_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one_opinion{
    border: 1px solid #BDC3C7;
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 10px 5px 5px #BDC3C7;
    border-radius: 5px;

}
.opinion_user_info{
    display: flex;
    justify-content: center;
}
.opinion_user_info img {
    width: 70px;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid #BDC3C7;

}
.opinion_user_perso{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;

    h4{
        font-size: 1.6em;
        margin-bottom: 2px;
    }

    p{
        font-size: 1.2em;
    }
}
.one_opinion_content p {
    text-align: center;
}
.opinionDate{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

/* CSS POUR LES HR SPAN ETC */
.hrclasses{
background-color: #BDC3C7;
width: 60%;
margin: 20px auto;
}
.spanGrey{
    color: #BDC3C7;
    font-style: italic;
}


@media (max-width: 1000px) { 
    .homePage_content{
        flex-direction: column;
        width: 100%;
        height: 90%;
        justify-content: center;  
        align-items: center;
    }
    .description{
        width: 90%;
    }
    .description_main{
        margin-bottom:10% ;
    }
    .last_news{
        width: 90%;
        margin:5% auto;
    }
    .one_opinion{
        width: 80%;
    }
 }

 @media (max-width: 570px){
     .last-container-head{
         display: flex;
         flex-direction: column;
     }
     .one_opinion{
         width: 100%;
     }
 }