 /* CSS POUR COMPOSANT HOMEPAGE */
.homePage_content{
    display: flex;
    width: 90%;
    height: 90%;
    margin:5% auto;
    justify-content: space-between;  
    display: flex;
}
 /* CSS POUR COMPOSANT DESCRIPTION */
.description{
    border: 1px solid #BDC3C7;
    box-shadow: 2px 2px 2px #BDC3C7;
    width: 60%;
    display: flex;  
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;

}
.container-head{
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-container-head{
  display: flex;
  align-content: center;
  /* margin-top: 1em; */
}


.last-container-head img{
  object-position: 0px -1.9em ;
  margin-left: 1em;
  overflow: hidden;
}
.container-head{
  display: flex;
  justify-content: center;
  margin-bottom: -10%;
}

.container-head h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    margin: 1em 0 0 0;

}

.help-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.help-view img{
  width: 25%  
}
.paragraphs{
    display: flex;
    flex-direction: column;
margin-top: 5%;
}
.paragraphs-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraphs-hr{
    width: 40%;
    margin: 0 auto 2%;
}
.description p{
    padding: 1em;
    text-align: center;
    display: flex;
}
.description_main p{
    width: 50%;
    text-align: center;
}
.description_main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.img_description{
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #BDC3C7;

}
.icon{
width: 8%;
align-content: center;
}
.catchphrase{
    display: flex;
    justify-content: space-around;
}


/* CSS POUR COMPOSANT LASTNEWS */
.last_news{
    border: 1px solid #BDC3C7;
    width: 30%;
    min-width: 318px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #BDC3C7;}


 .one_news_card_container {
    border: 1px solid #BDC3C7;
    width: 80%;
    margin: 4% auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #BDC3C7;
 } 
 .one_news_card_head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

 }  
 .one_news_card_hr{
    width: 80%;
    margin: 3% auto;
 }

.img_one_news{
    width: 100px;  
    padding: 4%;
}
.last_news h2 {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
.one_news_card_body{
padding: 10px;
}

/* CSS POUR COMPOSANT OPINION */
.opinion{
   width: 90%;
   margin: 5% auto;
}
.opinion h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 15px;
}
.opinion_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one_opinion{
    border: 1px solid #BDC3C7;
    width: 60%;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 10px 5px 5px #BDC3C7;
    border-radius: 5px;

}
.opinion_user_info{
    display: flex;
}
.opinion_user_info img {
    width: 70px;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid #BDC3C7;

}
.opinion_user_perso{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}
.one_opinion_content p {
    text-align: center;
}

/* CSS POUR LES HR SPAN ETC */
.hrclasses{
background-color: #BDC3C7;
width: 60%;
margin: 20px auto;
}
.spanGrey{
    color: #BDC3C7;
    font-style: italic;
}


@media (max-width: 1000px) { 
    .homePage_content{
        flex-direction: column;
        width: 100%;
        height: 90%;
        justify-content: center;  
        align-items: center;
    }
    .description{
        width: 90%;
    }
    .description_main{
        margin-bottom:10% ;
    }
    .last_news{
        width: 90%;
        margin:5% auto;
    }
    .one_opinion{
        width: 80%;
    }
 }

 @media (max-width: 570px){
     .last-container-head{
         display: flex;
         flex-direction: column;
     }
     .one_opinion{
         width: 100%;
     }
 }