.footer {
  background: #4b2c20;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  font: bold 16px sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  //height: 100px;
}

.footer-content{
  //background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:95% ;
  margin: 0 auto;
}
.footer-links{
  display: flex;
  flex-direction: column;
  
  p{
    margin: 2px 0;
    font-size: 1.2em;
    letter-spacing: 0.04em;
  }
}

/* Footer left */

// .footer .footer-left {
//   float: left;
// }

/* O'school logo */

.footer h3 {
  color: #e1d2b8;
  font: normal 36px 'Roboto', cursive;
  //margin: 0 0 10px;
}

/* Footer links */

.footer .footer-links {
  color: #ffffff;
  //margin: 0 0 10px;
  //padding: 0;
}

.about-p{
  cursor: pointer;
}
.about-p:hover{
  color:#68c2e8 ;
}

// .footer .footer-links a {
//   display: inline-block;
//   line-height: 1.8;
//   text-decoration: none;
//   color: inherit;
//    &:hover {
//      color: #e1d2b8;
//      transform: scale(1.2);
//    }
// }

.footer .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  //margin: 0;
}

/* Footer social icons */



/* Footer Right */

.footer .footer-right {
  //float: right;
}

.footer .footer-right p {
  //display: inline-block;
  //vertical-align: top;
  //margin: 15px 42px 0 0;
  color: #ffffff;
}

#footer_img{
  width: 150px;
}





/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {


}

@media (max-width: 800px) {



}
