
.container--homeStudent{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
      font-size: 3em;
      margin: 2% auto;
  }
}

.go_all_news{
    width: 95%;
    display: flex;
    justify-content: flex-end;

    p{
        cursor: pointer;
        font-style: italic;
    }
}
.table{

    td{
        font-size: 1.1em;
    }
}

// news
.container--homeStudent--news{
    width: 100%;
    //height: 200px;
    margin: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin: 2% 0;
      font-size: 1.6em;
      color: #335C81;
      font-weight: bold;
    }

    p{
        font-size: 1.4em;
    }

    // button {
    //     margin-top: 2%;
    //     border: 1px solid #BDC3C7;
    //     padding: 5px;
    //     border-radius: 5px;
    // }
}

.newsDateConnected {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.container--homeStudent--new{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container--homeStudent--new--card{
    background-color:white ;
    flex-basis: 40%;
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #BDC3C7;
    box-shadow: 2px 2px 2px #BDC3C7;
    border-radius: 10px;
}
.one_news_card_head{
    img{
        width: 50%;
    }
}


// classes
.container--homeStudent--classes{
    //height: 200px;
    width: 100%;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
      margin: 2% 0;
      font-size: 1.6em;
      color: #335C81;
      font-weight: bold;

    }
}
.container--homeStudent--classes-tableau{
    width: 100%;
}

// info
.container--homeStudent--info{
    margin: 2% 0;
    //height: 200px;
    width: 100%;
    margin: 5% 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin: 2% 0;
        font-size: 1.6em;
        color: #335C81;
        font-weight: bold;
    }

}
.container--homeStudent--info--content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
}
.titlecardInfo{
    font-weight: bold;
}
.container--homeStudent--info--content--shedule{
    flex-basis: 65%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        width: 100%;
    }
    h3{
        font-style: italic;
    }
}
.container--homeStudent--info--content--perso{
    flex-basis: 30%;
    min-width: 300px;
    box-shadow: 2px 2px 2px #BDC3C7;
    border: 1px solid #BDC3C7;
    border-radius: 10px;
    
}
.container--homeStudent--info--content--perso--head{
    display: flex;
    align-items: center;
   

    img{
    width: 30%;
    border-radius: 50%;
    padding: 4%;
    }
}
.container--homeStudent--info--content--perso--body{

    p{
        padding: 4%;
    }
}

@media (max-width: 1000px){
    .container--homeStudent--info--content{
        flex-direction: column;
    }
    .container--homeStudent--info--content--shedule{
        margin: 5% auto;
    }
}

@media (max-width: 570px){
    .newsDateConnected {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .go_all_news{
        justify-content: center;

        p{
       font-size: 1.2em;
        }
    }

}

.articles:hover{
  color: #6D9CC5;
  text-decoration: none;
}
