%title{
  font-size: 1.5em;
  font-weight: bolder;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: #335C81;
}

h2 a:hover{
  color: #6D9CC5;
  text-decoration: none;
}

%cards{
  border: 1px solid black;
  width: 46%;
  margin: 0 2% 2%;
  padding: 10px;
  height: 33vh;
  overflow: scroll;
  overflow-x: hidden;
  // display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

// wrappered

.wrappered{
  h1{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 2em;
    font-weight: bolder;
    color: #335C81;
  }
}

// title


// containered

.containered{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 2%;
}


// classroom infos

#planning {
  width: 300px;
  height: 200px;
}

.classroomInfo{
  @extend %cards;

  display: flex;

  h2{
    @extend %title;
  }

  div,
  img {
    width: 50%;
    height: auto;
    text-align: center;
  }

  div span {
    font-weight: bold;
  }
}


// classroom members

.membersList{
  // @extend %topcards;
  @extend %cards;
  h2{
    @extend %title;
  }
}

.members {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.memberCard {
  border-radius: 10px;
  width: 31%;
  padding: 10px 10px;
  margin: 0 1% 1.5%;
  background-color: #6D9CC5;
  color: white;
  text-shadow: 2px 3px 7px rgba(150, 150, 150, 1);
  text-align: center;

  .average {
    font-style: italic;
    font-size: 0.9em;
  }
}


// classroom subjects

.subject{
  @extend %cards;
  h2 {
    @extend %title;
  }
}


// last lessons

.lessons{
  @extend %cards;
  h2{
    @extend %title;
  }
}


// last homework

.homework{
  @extend %cards;
  h2{
    @extend %title;
  }
}


// last homework correction

.correction{
  @extend %cards;
  h2{
    @extend %title;
  }
}
