%title{
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
}

%cards{
  border: 1px solid black;
  width: 46%;
  margin: 2%;
  padding: 10px;
  height: 30vh;
  overflow: scroll;
  overflow-x: hidden;
  // display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

// wrappered

.wrappered{
  h1{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 2em;
    font-weight: bold;
    }
}

// title


// containered

.containered{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 2%;
}


// classroom infos

#planning {
  width: 300px;
  height: 200px;
}

.classroomInfo{
  @extend %cards;

  display: flex;

  h2{
    @extend %title;
  }

  div,
  img {
    width: 50%;
    height: auto;
    text-align: center;
  }

  div span {
    font-weight: bold;
  }
}


// classroom members

.membersList{
  // @extend %topcards;
  @extend %cards;
  h2{
    @extend %title;
  }
}


// classroom subjects

.subject{
  @extend %cards;
  h2 {
    @extend %title;
  }
}


// last lessons

.lessons{
  @extend %cards;
  h2{
    @extend %title;
  }
}


// last homework

.homework{
  @extend %cards;
  h2{
    @extend %title;
  }
}


// last homework correction

.correction{
  @extend %cards;
  h2{
    @extend %title;
  }
}
