.fixonenew{
    min-height: 100vh;

    .btn-group{
      margin-left: 17%;
    }
}

.container-one-new{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2{
        font-size: 2.5em;
        font-weight: bold;
        margin: 1em;
        text-align: center;
    }

    p{
        font-size: 1.6em;
        margin: 1em;
        text-align: center;
    }
    img{
       width: 50%;
    margin: 2em;

    }
   
}
.one-new-content{
    text-align: left;
    width: 60%;
    //margin: 1% auto;
}

.dateNews2{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 840px){
    .dateNews2{

        p{
            text-align: center;
        }
    }
    .container-one-new{

        h2{
            text-align: center;
        }
    }
}

@media (max-width: 570px){
    .dateNews2{

        p{
            text-align: center;
        }
    }
    .container-one-new{

        h2{
            text-align: center;
        }
    }
}
