.navbar {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: top .75s ease-in;
  background-color: #e1d2b8;

  .menu {
    list-style: none;
    overflow: hidden;
    display: flex;
    width: 100%;
    max-height: 0;
    transition: max-height .2s ease-out;

    li  {
      a{
      transition: .4s all;
      text-decoration: none;
      font-size:1.5em;

      &:link,
      &:visited {

        color: #335C81;
        font-weight: bold;


      }

      &:focus,
      &:hover,
      &:active {

        
        color:#68c2e8;
        

      }
      }
    }
  }

  #img_nabar_user{
    width: 60px;
    border-radius: 50%;
  }

  .logo {
    display: inline-block;
    width: 125px;
    margin-left: 1em;
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;

    .navicon {
      background: #68c2e8;
      display: block;
      height: 4px;
      position: relative;
      width: 1.625rem;

      &:before,
      &:after {
        background: #68c2e8;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }

      &:before {
        top: 7px;
      }

      &:after {
        top: -7px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked~.menu {
      max-height: 300px;
    }

    &:checked~.menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    &:checked~.menu-icon:not(.steps) .navicon {

      &:before,
      &:after {
        top: 0;
      }
    }
  }
}

// DESKTOP MENU CSS
@media (min-width: 840px) {
  .navbar li {
    margin: 0 15px;
  }

  .navbar .menu {
    width: auto;
    max-height: none;
  }

  .navbar .menu-icon {
    display: none;
  }
}

@media (max-width: 839px){
  .navbar_user_info{
    display: none;
  }
  .menu{
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
}
